<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292276589261-j2g29ql0gh7bp38gh3hl0vhsf1vgu4t0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292276589261-j2g29ql0gh7bp38gh3hl0vhsf1vgu4t0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbO2jLVlYXyStyZdobNBLZ4K4yfKo0G6w</string>
	<key>GCM_SENDER_ID</key>
	<string>292276589261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.idea</string>
	<key>PROJECT_ID</key>
	<string>idealidea-36f22</string>
	<key>STORAGE_BUCKET</key>
	<string>idealidea-36f22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292276589261:ios:b9a52ed679aa94fcf74f84</string>
</dict>
</plist>